@font-face {
  font-family: HelveticaNeueCyrLight;
  src: url("../fonts/HelveticaNeueCyrLight.eot");
  src: url("../fonts/HelveticaNeueCyrLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrLight.woff") format("woff"), url("../fonts/HelveticaNeueCyrLight.ttf") format("truetype");
}

body {
  margin: 0;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  font-family: HelveticaNeueCyrLight;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: unset;
  margin: unset;
}

a {
  text-decoration: unset;
  color: unset;
}

.app {
  display: flex;
  justify-content: space-between;
  margin: 1.6129vw 6.45161vw;
  box-sizing: border-box;
}

.aside {
  flex-basis: 19.35484vw;
}

.main {
  flex-basis: 64.51613vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  background: #d4ddeb;
  border-radius: 0 0 10px 10px;
  margin-bottom: 1.6129vw;
  background: #f1f1f1;
  border: 1px solid #d4ddeb;
}

.box__head {
  background: #39f;
  padding: 0.80645vw;
  text-align: center;
  outline: 1px solid #2673bf;
}

.box__body {
  padding: 1.6129vw;
}

.search {
  display: flex;
  width: 100%;
}

.search__input {
  flex-basis: 100%;
  width: 100%;
  min-width: unset;
}

.search__button {
  border-radius: 0 5px 5px 0;
}

.list {
  border-radius: 10px;
  overflow: hidden;
  border-top: 1px solid #d4ddeb;
}

.list__item {
  background: white;
  border: 1px solid #d4ddeb;
  border-top: 0;
  padding: 0.80645vw;
}

.list__item:hover {
  background: transparent;
}

.list__item.--active {
  background: #1a4d80;
  color: white;
}

.card {
  flex-basis: 19.35484vw;
  margin-bottom: 1.6129vw;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}

.card__image {
  height: 19.35484vw;
  overflow: hidden;
  border-radius: 5px;
  border-bottom: 1px solid #f1f1f1;
}

.card__image img {
  width: 100%;
}

.card__body {
  padding: 0.80645vw;
}

.card__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.80645vw;
}

.card__name {
  color: #39f;
}

.card__price {
  font-weight: bold;
}

.card__btns_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.80645vw 0;
}

.button {
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  padding: 0.80645vw;
  white-space: nowrap;
  margin: 0.80645vw 0;
  cursor: pointer;
}

.button:hover {
  background: #d4ddeb;
}

.button.--darkblue {
  background: #1a4d80;
  color: white;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal__window {
  display: none;
  width: 50%;
  max-height: 80%;
  overflow: auto;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  background: white;
}

.modal__window.--active {
  display: block;
}

.modal__card {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
}

.modal__card .card__image {
  flex-basis: 40%;
  height: 100%;
}

.modal__card .card__body {
  flex-basis: 60%;
  padding-bottom: 0;
}

.modal.--active {
  display: flex;
}

.bag {
  position: relative;
}

.bag__mini {
  cursor: pointer;
}

.bag__window {
  position: absolute;
  display: none;
  left: 19.35484vw;
  top: -0.80645vw;
  background: white;
  border-radius: 0 10px 10px 10px;
  border: 1px solid #f1f1f1;
}

.bag__window.--active {
  display: block;
}

.bag__card {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 0.80645vw;
  padding: 0.80645vw;
}

.bag__card .card__image {
  width: 10em;
  height: 10em;
  border-radius: unset;
  border: 0;
}

.bag__card .card__btns_box {
  padding: 0;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.bag__card .button {
  margin: 0;
}

.bag__row {
  display: flex;
  justify-content: space-between;
  padding: 0.80645vw;
}

.counter {
  display: flex;
  font-weight: bold;
  height: 3em;
  width: 8em;
  margin: auto;
}

.counter__decrementer,
.counter__incrementer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ababab;
  width: 30%;
  cursor: pointer;
  height: 100%;
}

.counter__value {
  border: 0;
  padding: 0;
  background: transparent;
  outline: none;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
  width: 40%;
  text-align: center;
  height: 100%;
}

@media (max-width: 768px) {
  .modal__window {
    padding: 20px;
  }
}